In [1]:
#import dependecies 
import pandas as pd 
from pathlib import Path

# import csv
cleaned_data = pd.read_csv("Resources/cleaned_obesity_dataout.csv")

In [2]:
cleaned_data.head()

,Age,Gender,Height(in),Weight(lbs),Frequency of vegetable consumption,Number of main meals,Family history of obesity,Physical activity frequency,Consumption of food between meals,Transportation method,Obesity level,BMI
0,21.0,Female,63.76,141.06,2.0,3.0,yes,0.0,1,Public_Transportation,Normal_Weight,24.39
1,21.0,Female,59.83,123.42,3.0,3.0,yes,3.0,1,Public_Transportation,Normal_Weight,24.24
2,23.0,Male,70.85,169.71,2.0,3.0,yes,2.0,1,Public_Transportation,Normal_Weight,23.77
3,27.0,Male,70.85,191.75,3.0,3.0,no,2.0,1,Walking,Overweight_Level_I,26.85
4,22.0,Male,70.06,197.92,2.0,1.0,no,0.0,1,Public_Transportation,Overweight_Level_II,28.35

In [3]:
df = cleaned_data.drop(columns=['Height(in)', 'Weight(lbs)', 'Family history of obesity', 'Transportation method'])
df

,Age,Gender,Frequency of vegetable consumption,Number of main meals,Physical activity frequency,Consumption of food between meals,Obesity level,BMI
0,21.0,Female,2.0,3.0,0.000000,1,Normal_Weight,24.39
1,21.0,Female,3.0,3.0,3.000000,1,Normal_Weight,24.24
2,23.0,Male,2.0,3.0,2.000000,1,Normal_Weight,23.77
3,27.0,Male,3.0,3.0,2.000000,1,Overweight_Level_I,26.85
4,22.0,Male,2.0,1.0,0.000000,1,Overweight_Level_II,28.35
...,...,...,...,...,...,...,...,...
2106,21.0,Female,3.0,3.0,1.676269,1,Obesity_Type_III,44.91
2107,22.0,Female,3.0,3.0,1.341390,1,Obesity_Type_III,43.75
2108,23.0,Female,3.0,3.0,1.414209,1,Obesity_Type_III,43.55
2109,24.0,Female,3.0,3.0,1.139107,1,Obesity_Type_III,44.08
2110,24.0,Female,3.0,3.0,1.026452,1,Obesity_Type_III,44.15

In [4]:
Radar_df = df.groupby(['Obesity level','Gender']).mean().round(1)
Radar_df

                             Age  Frequency of vegetable consumption  \
Obesity level       Gender
Insufficient_Weight Female  20.5                                 2.5
                    Male    18.5                                 2.4
Normal_Weight       Female  22.0                                 2.4
                    Male    21.5                                 2.3
Obesity_Type_I      Female  27.9                                 2.2
                    Male    24.3                                 2.2
Obesity_Type_II     Female  24.5                                 3.0
                    Male    28.3                                 2.4
Obesity_Type_III    Female  23.5                                 3.0
                    Male    18.0                                 3.0
Overweight_Level_I  Female  24.6                                 2.3
                    Male    22.3                                 2.2
Overweight_Level_II Female  27.4                                 2.4
                    Male    26.8                                 2.2

                            Number of main meals  Physical activity frequency  \
Obesity level       Gender
Insufficient_Weight Female                   2.7                          1.1
                    Male                     3.4                          1.5
Normal_Weight       Female                   2.6                          1.1
                    Male                     2.9                          1.4
Obesity_Type_I      Female                   2.2                          0.7
                    Male                     2.7                          1.2
Obesity_Type_II     Female                   2.5                          1.0
                    Male                     2.7                          1.0
Obesity_Type_III    Female                   3.0                          0.7
                    Male                     3.0                          2.0
Overweight_Level_I  Female                   2.4                          0.9
                    Male                     2.7                          1.2
Overweight_Level_II Female                   2.6                          0.8
                    Male                     2.5                          1.0

                            Consumption of food between meals   BMI
Obesity level       Gender
Insufficient_Weight Female                                1.6  17.4
                    Male                                  1.2  17.5
Normal_Weight       Female                                1.5  21.8
                    Male                                  1.5  22.2
Obesity_Type_I      Female                                1.0  31.9
                    Male                                  1.1  32.6
Obesity_Type_II     Female                                2.0  37.1
                    Male                                  1.0  36.7
Obesity_Type_III    Female                                1.0  42.3
                    Male                                  2.0  49.5
Overweight_Level_I  Female                                1.0  25.9
                    Male                                  0.9  26.1
Overweight_Level_II Female                                1.1  28.2
                    Male                                  1.1  28.2

In [6]:
Radar_df.to_csv('Resources/obesity_radar_df.csv', index=True, header=True)

In [7]:
Radar_df

                             Age  Frequency of vegetable consumption  \
Obesity level       Gender
Insufficient_Weight Female  20.5                                 2.5
                    Male    18.5                                 2.4
Normal_Weight       Female  22.0                                 2.4
                    Male    21.5                                 2.3
Obesity_Type_I      Female  27.9                                 2.2
                    Male    24.3                                 2.2
Obesity_Type_II     Female  24.5                                 3.0
                    Male    28.3                                 2.4
Obesity_Type_III    Female  23.5                                 3.0
                    Male    18.0                                 3.0
Overweight_Level_I  Female  24.6                                 2.3
                    Male    22.3                                 2.2
Overweight_Level_II Female  27.4                                 2.4
                    Male    26.8                                 2.2

                            Number of main meals  Physical activity frequency  \
Obesity level       Gender
Insufficient_Weight Female                   2.7                          1.1
                    Male                     3.4                          1.5
Normal_Weight       Female                   2.6                          1.1
                    Male                     2.9                          1.4
Obesity_Type_I      Female                   2.2                          0.7
                    Male                     2.7                          1.2
Obesity_Type_II     Female                   2.5                          1.0
                    Male                     2.7                          1.0
Obesity_Type_III    Female                   3.0                          0.7
                    Male                     3.0                          2.0
Overweight_Level_I  Female                   2.4                          0.9
                    Male                     2.7                          1.2
Overweight_Level_II Female                   2.6                          0.8
                    Male                     2.5                          1.0

                            Consumption of food between meals   BMI
Obesity level       Gender
Insufficient_Weight Female                                1.6  17.4
                    Male                                  1.2  17.5
Normal_Weight       Female                                1.5  21.8
                    Male                                  1.5  22.2
Obesity_Type_I      Female                                1.0  31.9
                    Male                                  1.1  32.6
Obesity_Type_II     Female                                2.0  37.1
                    Male                                  1.0  36.7
Obesity_Type_III    Female                                1.0  42.3
                    Male                                  2.0  49.5
Overweight_Level_I  Female                                1.0  25.9
                    Male                                  0.9  26.1
Overweight_Level_II Female                                1.1  28.2
                    Male                                  1.1  28.2

In [8]:
df2 = cleaned_data.drop(columns=['Gender','Height(in)', 'Weight(lbs)', 'Family history of obesity', 'Transportation method'])
df2.head()

,Age,Frequency of vegetable consumption,Number of main meals,Physical activity frequency,Consumption of food between meals,Obesity level,BMI
0,21.0,2.0,3.0,0.0,1,Normal_Weight,24.39
1,21.0,3.0,3.0,3.0,1,Normal_Weight,24.24
2,23.0,2.0,3.0,2.0,1,Normal_Weight,23.77
3,27.0,3.0,3.0,2.0,1,Overweight_Level_I,26.85
4,22.0,2.0,1.0,0.0,1,Overweight_Level_II,28.35

In [10]:
age = df2['Age'] 
df2 = df2.drop(columns=['Age'])
df2.insert(loc=1, column='Age',
           value=age)
df2

,Frequency of vegetable consumption,Age,Number of main meals,Physical activity frequency,Consumption of food between meals,Obesity level,BMI
0,2.0,21.0,3.0,0.000000,1,Normal_Weight,24.39
1,3.0,21.0,3.0,3.000000,1,Normal_Weight,24.24
2,2.0,23.0,3.0,2.000000,1,Normal_Weight,23.77
3,3.0,27.0,3.0,2.000000,1,Overweight_Level_I,26.85
4,2.0,22.0,1.0,0.000000,1,Overweight_Level_II,28.35
...,...,...,...,...,...,...,...
2106,3.0,21.0,3.0,1.676269,1,Obesity_Type_III,44.91
2107,3.0,22.0,3.0,1.341390,1,Obesity_Type_III,43.75
2108,3.0,23.0,3.0,1.414209,1,Obesity_Type_III,43.55
2109,3.0,24.0,3.0,1.139107,1,Obesity_Type_III,44.08
2110,3.0,24.0,3.0,1.026452,1,Obesity_Type_III,44.15

In [11]:
Radar_df2 = df2.groupby(['Obesity level']).mean().round(1)
Radar_df2

,Frequency of vegetable consumption,Age,Number of main meals,Physical activity frequency,Consumption of food between meals,BMI
Obesity level,,,,,,
Insufficient_Weight,2.5,19.8,2.9,1.3,1.4,17.4
Normal_Weight,2.3,21.7,2.7,1.2,1.5,22.0
Obesity_Type_I,2.2,25.9,2.4,1.0,1.0,32.3
Obesity_Type_II,2.4,28.3,2.7,1.0,1.0,36.7
Obesity_Type_III,3.0,23.5,3.0,0.7,1.0,42.3
Overweight_Level_I,2.3,23.4,2.5,1.1,1.0,26.0
Overweight_Level_II,2.3,27.0,2.5,1.0,1.1,28.2

In [12]:
Radar_df2.to_csv('Resources/obesity_radar_df2.csv', index=True, header=True)