“Analysis of daily habits and their impact on obesity rates”

In [33]:
# import dependencies 
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

# import csv
data = pd.read_csv("../Resources/cleaned_obesity_dataout.csv")

In [35]:
# Display DataFrame
data.head()

,Age,Gender,Height(in),Weight(lbs),Frequency of vegetable consumption,Number of main meals,Family history of obesity,Physical activity frequency,Consumption of food between meals,Transportation method,Obesity level,BMI
0,21.0,Female,63.76,141.06,2.0,3.0,yes,0.0,1,Public_Transportation,Normal_Weight,24.39
1,21.0,Female,59.83,123.42,3.0,3.0,yes,3.0,1,Public_Transportation,Normal_Weight,24.24
2,23.0,Male,70.85,169.71,2.0,3.0,yes,2.0,1,Public_Transportation,Normal_Weight,23.77
3,27.0,Male,70.85,191.75,3.0,3.0,no,2.0,1,Walking,Overweight_Level_I,26.85
4,22.0,Male,70.06,197.92,2.0,1.0,no,0.0,1,Public_Transportation,Overweight_Level_II,28.35

In [37]:
# Filter the dataset to include only the rows we need for the bar graph
habits_columns = [
    "Frequency of vegetable consumption",
    "Number of main meals",
    "Physical activity frequency",
    "Consumption of food between meals"
]